{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Movie Database</title>
    <link rel="stylesheet" href="{% static 'movieratings/css/bootstrap.css' %}">
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'index' %}">Home</a></li>
  <li role="presentation"><a href="#"></a></li>
  <li role="presentation"><a href="#"></a></li>
</ul>
<div class="container">
    {% block content %}
        default
    {% endblock %}
</div>
</body>
</html>