{% extends "base.html" %}

{% block content %}
    {% for movie in movies %}
        <h1>{{ movie.movie_title }}</h1>

        <h3>Other Users' Ratings for: {{ movie.movie_title }}</h3>
        {% endfor %}
        <table class="table table-striped table-bordered">
        <tr>
            <th>Rater ID</th>
            <th>Rating</th>
            <th>Item ID</th>
        </tr>
        {% for rating in ratings %}
        <tr>
            <td><a href="{% url 'rater' rating.user_id %}">{{ rating.user }}</a></td>
            <td>{{ rating.rating }}</td>
            <td>{{ rating.pk }}</td>
        </tr>
        {% endfor %}
{% endblock %}
