<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Page</title>
</head>
<body>
    <h1>Individual Movie Page</h1>

    {% for movie in movies %}
        <a href="{{ movie.IMDb_URL }}"><h3>{{ movie.movie_title }}</h3></a>
    {% endfor %}
    <h3>Users Who Rated This Movie Also Rated:</h3>
    {% for person in people %}
        <div>User ID: {{ person.user_id }}</div>
    {% endfor %}
    {% for rating in ratings %}
        <div><a href="">{{ rating.item_id }}</a></div>
        <div>Rating: {{ rating.rating }}</div>
        <br>
    {% endfor %}

</body>
</html>